[*.cs]

# CS0618: Type or member is obsolete
dotnet_diagnostic.CS0618.severity = silent

# CS0472: The result of the expression is always the same since a value of this type is never equal to 'null'
dotnet_diagnostic.CS0472.severity = silent

# CS0114: Member hides inherited member; missing override keyword
dotnet_diagnostic.CS0114.severity = silent
