@section LinkScriptSection{
    <script type="text/javascript">
        $(document).ready(function () {
            var columns = [
                { "data": "id", "name": "ID" },
                { "data": "parent", "name": "Parent" },
                { "data": "name", "name": "Name" },
                { "data": "type", "name": "Type" },
                { "data": "accessUrl", "name": "AccessUrl" },
                { "data": "icon", "name": "Icon" },
                { "data": "sequenceOrder", "name": "SequenceOrder" },
                { "data": "createdDateTime", "name": "CreatedDateTime" },
                {
                    "render": function (data, type, row) { return ActionButton(data, type, row) }
                }
            ];
            ServerSideDataTable(columns);
        })
    </script>
}

<div class="col-md-12 mb-4">
    <div class="card text-left">
        <div class="Header"></div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="display table table-striped table-hover table-bordered DataGrid" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Parent</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Access URL</th>
                            <th>Icon</th>
                            <th>Sequence</th>
                            <th>Created Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    @await Html.PartialAsync("DataTable")
                </table>
            </div>
        </div>
    </div>
</div>