@section LinkScriptSection{
    <script type="text/javascript">
        $(document).ready(function () {
            var columns = [
                { "data": "id", "name": "ID" },
                { "data": "role", "name": "Role" },
                { "data": "name", "name": "Name" },
                { "data": "username", "name": "Username" },
                { "data": "email", "name": "Email" },
                { "data": "status", "name": "Status" },
                { "data": "createdDateTime", "name": "CreatedDateTime" },
                { "data": "updatedDateTime", "name": "UpdatedDateTime" },
                {
                    "render": function (data, type, row) { return ActionButton(data, type, row) }
                }
                @*{
                    "render": function (data, type, row) {
                        return '<div class="btn-group"><a href="@ViewBag.ControllerURL/view?id=' + row.id + '" class="btn btn-primary btn-sm" title="View">' +
                            '<i class="fa fa-eye"></i>' +
                            '</a>'
                            +
                            '<a href="@ViewBag.ControllerURL/edit?id=' + row.id + '" class="btn btn-success btn-sm" title="Edit">' +
                            '<i class="fa fa-edit"> </i>' +
                            '</a>'
                            +
                            '<button type="button" class="btn btn-danger btn-sm" onclick=Delete("' + row.id + '"); title="Delete">' +
                            '<i class="fa fa-trash"></i>' +
                            '</button></div>'
                    }
                }*@
            ];
            ServerSideDataTable(columns);
        })
    </script>
}

<div class="col-md-12 mb-4">
    <div class="card text-left">
        <div class="Header"></div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="display table table-striped table-hover table-bordered DataGrid" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Role</th>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Created Date</th>
                            <th>Updated Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    @await Html.PartialAsync("DataTable")
                </table>
            </div>
        </div>
    </div>
</div>